*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
@font-face {
    font-family: "jump";
    src: url("fonts/Higher.ttf");
}
/* * * * * * * * *\
 * Body   *
\* * * * * * * * */

body{
    overflow: hidden;
    padding: 0px;
    margin: 0px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 4em;
    background-color: #f37055;
}



/* * * * * * * * *\
 * Header   *
\* * * * * * * * */


header{
    display:flex;
    justify-content: center;
    align-items: center;
    font-family: "jump", 'Times New Roman', Times, serif;
    background-color:white;
    box-shadow: 0px 26px 31px -3px rgba(0,0,0,0.8);
    color: #d46b5c;
    height: auto;
    width: auto;
   
}
h2 {
    font-size: clamp(1.1vw, 1.6vw, 3vw);
}
header h2:hover{
    transform: scale(1.05);
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    cursor: pointer;
}

header{
    opacity: 0; /* Set initial opacity to 0 */
    transform: translateY(-20px); /* Move elements up initially */
    transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out; /* Apply transition to opacity and transform properties */
}

header img{
    width: 5.5%;
    object-fit: cover;
}

/* * * * * * * * *\
 * main   *
\* * * * * * * * */

main{
    padding: 0;
}
 /* asked chatgpt to help me with a cool transition betwen menu's */
.game-container, .menu-container {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
}

.game-container.active, .menu-container.active {
    position: absolute;
    opacity: 1;
    visibility: visible;
    animation: fadeInOut 0.8s ease-in-out;
}

.active{
    opacity: 1;
    visibility: visible;
    animation: fadeInOut 0.8s ease-in-out;
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
        transform: scale(0.8);
    }
    50% {
        opacity: 1;
        transform: scale(1.1);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

/* * * * * * * * *\
 * menu-container   *
\* * * * * * * * */


.menu-container{
   display: flex;
   justify-content: center;
}


.player-menu{
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: center;
    font-family: "jump", 'Times New Roman', Times, serif;
   
}
/* quick fix because ninja2 player-menu was higher than ninja1 player-menu */
#player2-menu{
    margin-top: 4rem;
}


.player-menu > img{
    width: 20%;
    object-fit: cover;
    position: relative;
     background-color: rgb(0, 3, 1);
    border-radius: 50%;
    box-shadow: -1px -1px 22px 2px rgba(0,0,0,0.75);
   
}
.player-menu h3{
    font-family: "jump", 'Times New Roman', Times, serif;
    font-size: clamp(0.5vw, 1vw, 2vw);

}


/* create a grid contaner to hold 4 diffrent weapon options */

.weapon-grid{
    display: grid;
    grid-template-rows: 1fr 1fr; 
    grid-template-columns: 1fr 1fr;
    justify-items: center; /* Horizontally center items */
    align-items: center; /* Vertically center items */
    gap: 1em;
    border: 1px solid black;
    max-width: 40%; /* Ensure the grid container doesn't exceed its parent's width */
    padding: .5em;

    
}


.weapon-grid img{
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure images fill the container */
    box-sizing: border-box; /* Include border in element's total dimensions */
    background-color: white;
    
}

.weapons:hover{
    border-radius: 50%;
    object-fit: cover;
    transform: scale(1.1);
    background-color: #d46b5c;
    transition: .5s;
}

.weapons.selected {
    background-color: #3be86f;
    border-radius: 50%;
    transform: scale(1.1);
}

.opponent-choice{
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
}

.opponent-choice button {
    font-weight: bold;
    font-size: 1.5rem;
    background-color: #ffffff;
    border: 1px solid transparent;
    border-radius: 1em;
    padding: 1rem 2rem;
    box-shadow: -1px -1px 22px 2px rgba(0,0,0,0.6);
}

.opponent-choice button:hover {
    transform: scale(1.05);
}
.opponent-choice button:active {
    transform: scale(0.9);
}

.opponent-choice .selected_option{
    background-color: #53aa6d;
    transition: 0.5s;
}
/* * * * * * * * *\
 * game-container   *
\* * * * * * * * */

.game-container{
    margin-top: 2rem;
    width: 100vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.board{
    display: grid;

    grid-template-columns: repeat(3,1fr);
    grid-template-rows:repeat(3,1fr);
    height: 500px;
    width:500px;
    border: none;
    
}
.cell {
    border: 3px solid black; /* Add a border to each cell */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px; /* Adjust the font size as needed */
}
.cell img {
    width: 100%; /* Make the image fill the entire cell */
    height: 100%;
    object-fit: cover; /* This ensures the image covers the entire area without distortion */
    object-position: center; /* Center the image within the cell */
  }

.cell:nth-child(3n+1) {
    border-left: none; /* Remove left border of each row */
}

.cell:nth-child(3n) {
    border-right: none; /* Remove right border of each row */
}

.cell:nth-child(-n+3) {
    border-top: none; /* Remove top border of each column */
}

.cell:nth-child(n+7) {
    border-bottom: none; /* Remove bottom border of each column */
}
  
.game-message{
    opacity: 0;
    margin-top: 3em;
    margin-bottom: 1em;
    color: #0f55ee;
    font-family: "jump";
}

.game-message.show {
    display: block;
    opacity: 1;
    animation: fadeInAndOut 3s forwards;
  }
  
@keyframes fadeInAndOut {
    0%, 100% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }


.flex_row{
    height: fit-content;
    display: flex;
    gap:5rem;
}

.player_card{
    align-self: center;
    margin-bottom: 10rem;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "jump";
    gap: 5px;
}

.player_card img{
    width: 125px;
    height: auto;
    object-fit: cover;
    background-color: rgb(0, 3, 1);
    border-radius: 50%;
    box-shadow: -1px -1px 22px 2px rgba(0,0,0,0.75);
}
.player_card:hover{
    transform: scale(1.1);

}

.player_card img.win {
    background-color: rgb(6, 127, 6);
    animation: popup 0.5s ease-in-out;
}

@keyframes popup {
    0% {
        transform: scale(1); /* Start with normal size */
    }
    100% {
        transform: scale(10); /* End with slightly bigger size */
    }
}

.score{
    text-align: center;
    font-size: 1.5rem;
}


.game_btns button{
    font-weight: bold;
    background-color: #ffffff;
    font-size: 2em;
    border-radius: .5em;
    padding: .5em .5em;
    cursor: pointer;
    box-shadow: -1px -1px 22px 2px rgba(0,0,0,0.75);
}

.game_btns button:hover{
    transform: scale(1.05);
}
.game_btns button:active{
    transform:scale(0.9)
}
.game_btns{
    display: flex;
    gap: 5em;
    margin-top: 2.5rem;
}

/* * * * * * * * *\
 * Footer   *
\* * * * * * * * */

footer{
   margin-top: auto;
   margin-bottom: 10px;
   font-size: 20px;
   align-self: center;
}


/*  imported the gradient-border to give the weapon-grid border a cool look */
.gradient-border {
  --borderWidth: 4px;
  background: #080808;
  position: relative;
  border-radius: var(--borderWidth);
}
.gradient-border:after {
  content: '';
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  border-radius: calc(2 * var(--borderWidth));
  z-index: -1;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
}


@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


/* imported this from a page to create the play button on the the gamescreen */
#play_btn{
    display:none;
    
}
#weapons_message{
    font-family:"jump";
    font-size: 1.5rem;
    width: max-content;
    

   
}
.cta {
    display: flex;
    padding: 0.625em 0.625em; /* Equivalent to 10px */
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 1.8em; /* Equivalent to 26px */
    color: rgb(243, 240, 240);
    background: #d46b5c;
    transition: 1s;
    box-shadow: 0.375em 0.375em 0 black; /* Equivalent to 6px */
    transform: skewX(-15deg);
}

.cta:focus {
    outline: none;
}

.cta:hover {
    transition: 0.5s;
    box-shadow: 0.625em 0.625em 0 #FBC638; /* Equivalent to 10px */
    cursor: pointer;
}
.cta:active{
    transform: scale(0.98);
    transition: 0.1s;
}

.cta span:nth-child(2) {
    transition: 0.5s;
    margin-right: 0;
}

.cta:hover  span:nth-child(2) {
    transition: 0.5s;
    margin-right: 2.8125em; /* Equivalent to 45px */
}

span {
    transform: skewX(15deg);
    font-weight: bold;
    font-family: "times", "Times New Roman",;
}

span:nth-child(2) {
    width: 1.25em; /* Equivalent to 20px */
    margin-left: 1em; /* Equivalent to 30px */
    position: relative;
    top: 12%;
}

/* SVG */

path.one {
    transition: 0.4s;
    transform: translateX(-3.75em); /* Equivalent to -60px */
}

path.two {
    transition: 0.5s;
    transform: translateX(-1.875em); /* Equivalent to -30px */
}

.cta:hover path.three {
    animation: color_anim 1s infinite 0.2s;
}

.cta:hover path.one {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.6s;
}

.cta:hover path.two {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.4s;
}

/* SVG animations */

@keyframes color_anim {
    0% {
        fill: rgb(16, 11, 11);
    }
    50% {
        fill: #FBC638;
    }
    100% {
        fill: white;
    }
}


@media screen and (max-width: 1000px) {
    .cta {
        font-size: 1rem; /* Adjust font size for smaller screens */
    }
}










