* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
input {
  outline: none;
  border: 2px solid black;
}
body {
  font-family: $font;
  min-height: 100vh;
  width: 100vw;
  background-image: url("https://ding-09.github.io/weather-app/night.jpg");
  //background-image: url("/weatherApp/assets/sun.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
}

.content-wrapper {
  margin: 1.5rem 0rem;
  width: 90vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0rem;

  > * {
    border-radius: 0.25rem;
    width: 100%;
  }
}

.input {
  background-color: none;
  text-align: center;
  input {
    &::placeholder {
      color: white;
    }
    font-family: $font;
    font-size: 1.3rem;
    border-radius: 0.4rem;
    padding: 0.2rem;
    text-align: center;
    background-color: rgba(211, 211, 211, 0.2);
    color: rgb(246, 243, 243);
  }

  .error-message {
    color: rgb(239, 5, 5);
    word-spacing: 0.2rem;
    opacity: 0;
  }
}

.currentInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.location-info {
  //background-color: red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0.4rem;

  > * {
    width: 100%;
  }
}

.weatherCondition {
  border-bottom: 2px solid white;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
  font-size: 1.2rem;
  color: white;
  letter-spacing: 0.2rem;
  text-align: left;
  position: relative;

  #condition,
  #day1 {
    margin-top: 2.2rem;
  }
  #image1 {
    position: absolute;
    bottom: 1.1rem;
    left: 10rem;
  }
}

.location {
  display: flex;
  color: white;
  font-size: 2rem;
  text-align: left;
  border-bottom: 2px solid rgb(169, 152, 152);
}

.tempInfo {
  color: white;
  display: flex;
  gap: 2.5rem;
  align-items: center;
  #degrees {
    font-size: 6.5rem;
    font-weight: 900;
    font-family: $font;
    position: relative;
  }
  #degrees::after {
    content: "\00B0 F";
    font-size: 1.5rem;
    position: absolute;
    top: 1rem;
    left: 7.3rem;
  }
}

.otherInfo {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  font-family: "Times New Roman", Times, serif;
  border-left: 1px solid rgb(169, 152, 152);
  padding-left: 0.5rem;
  font-size: 1.1rem;
  font-weight: bold;

  #feelsLike {
    position: relative;
  }

  #feelsLike::after {
    content: "\00B0 F";
    position: absolute;
    bottom: 0.75rem;
    left: 8.2rem;
    font-size: 0.7rem;
  }
}

.forecast {
  min-height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  color: white;
}

.day {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(16, 13, 13);
  border-radius: 0.4rem;
  padding: 0.3rem 2rem;

  .dayOfWeek {
    font-size: 1.5rem;
    font-weight: medium;
    letter-spacing: 0.2rem;
  }

  .weatherCondition {
    border-top: 2px solid rgb(229, 227, 227);
  }

  .dayTemp {
    background: linear-gradient(94deg, rgba(247, 1, 1, 1) 30%, rgba(12, 29, 224, 1) 61%);
    color: transparent; /* Make the text color transparent */
    -webkit-background-clip: text; /* Clip the background to the text content */
    background-clip: text; /* Clip the background to the text content */
    font-size: 1.2rem;
  }
}
