* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(64, 16, 185);
  height: 100vh;
}
section {
  height: 50vh;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  label,
  input {
    font-size: 1.5rem;
  }
  input {
    padding: 0.2rem;
  }
}
